/* di app/components/Profile.module.css */
.profile {
    padding: 40px;
    text-align: center;
  }
  
  .profileImage {
    border-radius: 50%;
    border: 5px solid #333;
    margin-bottom: 20px;
  }
  
  .profile h3 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .profile p {
    color: #ccc;
    margin-bottom: 20px;
  }
  
  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
  }
  
  .socialLinks a {
    color: #aaa;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .socialLinks a:hover {
    color: #fff;
  }
  
  .downloadButton {
    background-color: #fff;
    color: #111;
    padding: 12px 25px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .downloadButton:hover {
    background-color: #ccc;
  }